@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.Content__Video{

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.Video iframe {

    width: 1150px;
    height: 450px;

}
.Video{
    max-width: 1150px;
    margin-right: 50px;

}
.Video__About{

    max-width: 300px;

}
.Video__About>h2{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;

}
.block_Me{

    width: 300px;
    height: 450px;
    background-color: #fefbf6;
    padding-top: 20px;
    display: block;
    margin: 0px auto;

}
.block_Me img{
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
}
.block_Me>h2{

    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.block_Me>p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 80%;
}