@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.block__Header{

    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;;

}
.block__date {

    display: flex;
    align-items: center;;
}

.block__date p{

    font-size: 18px;
    color: #000;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;

}
.block__date div img{
    padding-right: 10px;
}
.block__Logo{

    padding-left: 520px;
    padding-right: 480px;

}
.block__Logo img{

    width: 100px;
    height: 100px;

}

.block__social{
    display: flex;;
}

.block__social>div img{

    width: 40px;
    height: 40px;;
    padding-right: 10px;

}